*{
  margin: 0;
  padding: 0;
}



main{
  background-color: white;
  width: 1060px;
  height: 600px;
  margin: auto;
}

.pw-find h3{
  margin-left: 397px;
  padding: 36px;
  font-size: 32px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 330px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  gap: 17px;
}

/*이름*/
.name{
  font-size: 16px;
  margin-left: -25px;
  margin-bottom: -2px;
  margin-top: 20px;
}

#name{
  width: 330px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

/*이메일*/
.e-mail{
  font-size: 16px;
  margin-left: -37px;
  margin-bottom: -2px;
  margin-top: 10px;
}

#e-mail{
  width: 330px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

/*전화번호*/
.pw-info{
  display: flex;
  gap: 20px;
  margin-right: -65px;
}

#pw-number{
  display: flex;
  width: 330px;
  height: 50px;
  border-radius: 10px;
}

.numberok{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
}

/*확인버튼*/
.pw-ok{
  width: 330px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #2BCF81;
  background-color: #2BCF81;
}

