*{
  margin: 15px 0;
  padding: 0;
}

main {
  display: flex;
  gap: 30px;
  justify-content: center; 
  align-items: center; 
  background-color: rgb(231, 255, 230);
}

/* 메인 왼쪽 박스 */
.my-leftbox{
  width: 350px;
  height: 700px;
}

/* 메인 오른쪽 박스 */
.my-rightbox{
  width: 650px;
  height: 700px;
}

/* 메인 왼쪽 환영메세지 박스 */
.my-hello{
  background-color: white;
  width: 350px;
  height: 130px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 환영메시지 인삿말 */
.my-wellcome{
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: green;
}

/* 환영메세지 닉네임 */
.my-nickname{
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

/* 목록 박스 */
.my-category{
  background-color: white;
  max-width: 350px;
  height: 70%;
  border-radius: 15px;
  padding: 20px;
}

/* 구분선 */
.my-line{
  background-color: black;
  height: 1px;
  width: 95%;
  margin: 0;
}

/* 마이페이지 목록 상세 */
.my-category-menu{
  background-color: white;
  font-size: 16px;
}

/* ============================================= */


/* 비밀번호확인 박스 */
.my-passcheck{
  background-color: white;
  max-width: 650px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* 제목 : 개인 정보 수정 */
.my-passchek-title{
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}

/* 부제목 : 비밀번호확인 */
.my-passchek-subtitle{
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

/* 비밀번호확인 안내메세지 */
.my-passchek-title-info{
  background-color: white;
  font-size: 16px;
  color: gray;
}

/* 비밀번호 확인 가운데 영역 */
.my-passchek-center{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-passchek-category{
  background-color: white;
  display: flex;
  align-items: center;
}

/* id입력 input박스 */
.my-input-id{
  background-color: white;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid black;
}

/* password입력 input박스 */
.my-input-password{
  background-color: white;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid black;
}

.my-passcheck-menu{ 
  background-color: white;
  width: 100px;
  height: 20px;
  align-content: center;
  font-size: 16px;
}





.my-button{
  background-color: #2BCF81;
  color: white;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  font-size: 16px;
}

a{
  text-decoration: none;
};