

.main-section-first {
  /* border: 1px solid red; */
  width: 1060px;
  height: 340px;
  margin: 0 auto;
}

.main-station img {
  width: 220px;
  height: 320px;
  margin-left: 25px;
  margin-right: 15px;
  border-radius: 15px;
  object-fit: cover;
}

#main-slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  overflow: hidden;
}

.main-slide-btn {
  height: 10px;
}

.main-slide-btn button {
  font-size: 16px;
  width: 40px;
  height: 40px;
  /* padding: 5px 15px; */
  margin: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 20px;
  align-items: center;
}

.main-slide-btn button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#main-slide-left {
  transform: translate(3px, 130px);
}

#main-slide-right {
  transform: translate(940px, 130px);
}

.main-station ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

.main-station a {
  color: black;
  text-decoration-line: none;
}

.main-station h2 {
  font-size: 20px;
  text-align: center;
  transform: translate(0px, -270px);
  font-weight: 500;
  color: white;
}

#main-station-btn {
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  transform: translate(30px, -130px);
  text-align: center;
  font-size: 12px;
  align-content: center;
  font-weight: 600;
  color: rgb(100, 100, 100);
  margin: 5px;
}

/* 섹션 두번째 - 슬라이드 배너 */
.main-section-second {
  /* border: 1px solid red; */
  width: 1060px;
  height: 360px;
  margin: 0 auto;
}

/* 슬라이드배너시작부분 */
.main-all {
  position: relative;
  overflow: hidden;
}

.main-slidebanner {
  position: relative;
  width: 100%;
  height: 340px;
  overflow: hidden;
}

.main-section-second h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
}

.keen-slider {
  display: flex;
  transition: transform 0.7s ease;
  gap: 20px;
}

.keen-slider__slide {
  min-width: 700px;
  height: 280px;
  flex-shrink: 0;
}

.main-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.prev,
.next {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev svg,
.next svg {
  width: 24px;
  height: 24px;
}

.prev {
  left: 240px;
}

.next {
  right: 240px;
}
*/
.main-section-third {
  width: 1060px;
  height: 750px;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.main-section-btn {
  width: 0px;
  height: 0px;
}

.main-section-btn button {
  /* padding: 5px 0px; */
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 55px;
  font-weight: 100;
  align-items: center;
  z-index: 1000;
}

.main-section-btn button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

#main-section-left {
  transform: translate(2px, 130px);
}

#main-section-right {
  transform: translate(1020px, 110px);
}

#main-third-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-section-third-top {
  margin-bottom: 50px;
}

.main-section-third-top ul {
  display: flex;
}

#main-hot-list {
  border: 1px solid gray;
  width: 220px;
  height: 300px;
  /* margin-left: -20px; */
  margin-right: 33px;
  /* display: flex; */
  list-style-type: none;
  /* flex-wrap: wrap; */
  overflow: hidden;
  padding: 0px;
}

#main-hot-list a{
  text-decoration: none;

}

#main-hot-img {
  width: 220px; 
  height: 145px;
}

#main-picked{
  width: 30px; 
  position: relative;
  top: -47%;  
  left: 85%;
}

#main-hot-title {
  color: gray; 
  font-size: 12px;
  margin-top: -30px;
  margin-left: 5px;
}

#main-hot-txt {
  margin-top: -10px;
  margin-left: 5px;
  word-wrap: break-word;
  color: black;
}

.main-section-third-bottom ul{
  display: flex;
}

.main-section-fourth {
  width: 1060px;
  height: 200px;
  border: 1px solid blue;
  margin: 0 auto;
}
